.school-container {
  @include flexCenter(column);
  padding: 2 * $sizing;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  margin: $sizing;
  min-width: 45%;
  flex: 1;
  align-self: center;

  .course {
    font-weight: 600;
    color: $darkblue;
    font-size: 1.2em;
  }

  .school {
    margin-top: $sizing;
    color: grey;
    position: relative;

    &:hover {
      color: $lightblue;
      cursor: pointer;
    }

    &:hover::after {
      transform: scale(1) translate(50%, 0);
      top: 100%;
    }

    &::after {
      content: attr(data-tool-tip);
      display: block;
      position: absolute;
      background-color: rgba(0, 0, 0, 0.7);
      border-radius: 5px;
      padding: 1em 3em;
      font-size: 0.8em;
      transform: scale(0) translate(50%, 0);
      top: 0;
      right: 50%;
      transition: transform ease-out 150ms, top ease-out 150ms;
    }
  }
}

.education {
  .flex {
    display: flex;
    flex-wrap: wrap;
  }
}
