.skills {
  padding-top: 10 * $sizing;

  .skill {
    background: $lightblue;
    padding: $sizing;
    border-radius: 8px;
    margin-bottom: 2 * $sizing;
    width: 30%;
    @media (max-width: $tablet) {
      width: 45%;
    }
    @media (max-width: $mobile) {
      width: 100%;
    }
  }

  .skills-container {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
  }
}
