.title {
  height: 400px;
  padding: 0px 10 * $sizing !important;
  @include flexCenter(column);
  h1 {
    text-transform: uppercase;
  }
  // @media only screen and (min-width: $mobile) {
  //   height: 250px;
  // }
  // @media only screen and (min-width: $tablet) {
  //   height: 300px;
  // }
  // @media only screen and (min-width: $desktop) {
  //   height: 400px;
  // }
}
