@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.header {
  background: #424242;
  padding: 10px 16px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0px;
  color: white;
  -webkit-box-shadow: 0px 0px 15px 0px black;
          box-shadow: 0px 0px 15px 0px black;
  text-align: center;
}

.header #title {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}

.title {
  height: 400px;
  padding: 0px 80px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title h1 {
  text-transform: uppercase;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about p {
  font-family: 'avenir';
}

.about p .bluebold {
  color: #009eff;
  font-weight: bold;
}

.avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #005183;
}

@media only screen and (min-width: 600px) {
  .avatar {
    width: 250px;
    height: 250px;
  }
}

@media only screen and (min-width: 960px) {
  .avatar {
    width: 300px;
    height: 300px;
  }
}

@media only screen and (min-width: 1280px) {
  .avatar {
    width: 400px;
    height: 400px;
  }
}

.projects {
  height: 500px;
}

.black {
  background: black;
}

.black p {
  color: white;
  font-size: 1.3rem;
}

.black-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#005183), to(black));
  background-image: linear-gradient(#005183, black);
}

.blue-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#005183));
  background-image: linear-gradient(black, #005183);
}

.blue {
  background: #005183;
}

.black {
  background: black;
}

.section {
  text-align: center;
  padding: 32px 16px;
}

@-webkit-keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

.cubespinner {
  -webkit-animation-name: spincube;
          animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 12px 12px 0;
          transform-origin: 12px 12px 0;
}

.cubespinner div {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: black;
}

.cubespinner #face-icon {
  width: 19.2px;
  height: 19.2px;
}

.face {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cubespinner .face1 {
  -webkit-transform: translateZ(12px);
          transform: translateZ(12px);
}

.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(12px);
          transform: rotateY(90deg) translateZ(12px);
}

.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(12px);
          transform: rotateY(90deg) rotateX(90deg) translateZ(12px);
}

.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(12px);
          transform: rotateY(180deg) rotateZ(90deg) translateZ(12px);
}

.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(12px);
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(12px);
}

.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(12px);
          transform: rotateX(-90deg) translateZ(12px);
}

.skill {
  background: rgba(0, 0, 0, 0.3);
  padding: 8px;
  border-radius: 8px;
  margin: 8px;
}

.school-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  margin: 8px;
}

.school-container .course {
  font-weight: 600;
  color: #005183;
  font-size: 1.2em;
}

.school-container .school {
  margin-top: 8px;
  color: grey;
  position: relative;
}

.school-container .school:hover {
  color: #009eff;
  cursor: pointer;
}

.school-container .school:hover::after {
  -webkit-transform: scale(1) translate(50%, 0);
          transform: scale(1) translate(50%, 0);
  top: 100%;
}

.school-container .school::after {
  content: attr(data-tool-tip);
  display: block;
  position: absolute;
  background-color: rgba(0, 0, 0, 0.7);
  border-radius: 5px;
  padding: 1em 3em;
  font-size: 0.8em;
  -webkit-transform: scale(0) translate(50%, 0);
          transform: scale(0) translate(50%, 0);
  top: 0;
  right: 50%;
  -webkit-transition: top ease-out 150ms, -webkit-transform ease-out 150ms;
  transition: top ease-out 150ms, -webkit-transform ease-out 150ms;
  transition: transform ease-out 150ms, top ease-out 150ms;
  transition: transform ease-out 150ms, top ease-out 150ms, -webkit-transform ease-out 150ms;
}

.connect {
  background: #424242;
}

.connect h2 {
  margin-top: 0;
}

.connect img {
  margin: 8px;
  width: 50px;
}

.connect img:hover {
  -webkit-animation: shake 1s ease-in;
          animation: shake 1s ease-in;
  cursor: pointer;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  10% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  20% {
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
  30% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  40% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  70% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  90% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  10% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  20% {
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
  30% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  40% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  70% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  90% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
}

body {
  color: white;
  font-family: 'Ubuntu', serif;
}

p {
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  color: #009eff;
}
/*# sourceMappingURL=styles.css.map */