$darkblue: #005183;
$lightblue: #009eff;
$grey: #424242;

$sizing: 8px;
$mobile: 600px;
$tablet: 960px;
$desktop: 1280px;

@import url('https://fonts.googleapis.com/css2?family=Ubuntu&display=swap');

@mixin flexCenter($direction) {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: $direction;
}

@import './header';
@import './title';
@import './about';
@import './projects';
@import './section';
@import './icon';
@import './skills';
@import './education';
@import './connect';

body {
  color: white;
  font-family: 'Ubuntu', serif;
}

p {
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  color: $lightblue;
}

// @media only screen and (max-width: $mobile) {
//   height: 250px;
// }
// @media only screen and (max-width: $tablet) {
//   height: 300px;
// }
// @media only screen and (max-width: $desktop) {
//   height: 400px;
// }
