@import url("https://fonts.googleapis.com/css2?family=Ubuntu&display=swap");
.header {
  background: #424242;
  padding: 10px 16px;
  position: -webkit-sticky;
  position: sticky;
  z-index: 2;
  top: 0;
  color: white;
  -webkit-box-shadow: 0px 0px 15px 0px black;
          box-shadow: 0px 0px 15px 0px black;
  text-align: center;
}

.header #title {
  font-size: 24px;
  margin: 0;
  text-transform: uppercase;
}

.title {
  height: 400px;
  padding: 0px 80px !important;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.title h1 {
  text-transform: uppercase;
}

.about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.about p {
  margin: 32px;
  font-family: 'avenir';
  text-align: left;
}

.about p .scroll-link {
  cursor: pointer;
}

.about p .bluebold {
  color: #009eff;
  font-weight: bold;
}

@media (max-width: 960px) {
  .about p {
    text-align: center;
  }
}

.about .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

@media (max-width: 960px) {
  .about .flex {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}

.about .avatar-container {
  margin-right: 80px;
}

@media (max-width: 960px) {
  .about .avatar-container {
    margin: 0;
  }
}

.about .avatar-container .avatar {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  border: 20px solid #005183;
}

@media (min-width: 600px) {
  .about .avatar-container .avatar {
    width: 250px;
    height: 250px;
  }
}

@media (min-width: 960px) {
  .about .avatar-container .avatar {
    width: 300px;
    height: 300px;
  }
}

@media (min-width: 1280px) {
  .about .avatar-container .avatar {
    width: 400px;
    height: 400px;
  }
}

.projects .projects-container {
  height: 300px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: "column";
          flex-direction: "column";
}

.black {
  background: black;
}

.black p {
  color: white;
  font-size: 1.3rem;
}

.black-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(#005183), to(black));
  background-image: linear-gradient(#005183, black);
}

.blue-gradient {
  background-image: -webkit-gradient(linear, left top, left bottom, from(black), to(#005183));
  background-image: linear-gradient(black, #005183);
}

.blue {
  background: #005183;
}

.black {
  background: black;
}

.container {
  max-width: 1280px;
  margin: auto;
}

.section {
  text-align: center;
  padding: 32px 16px;
}

@-webkit-keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

@keyframes spincube {
  from,
  to {
    -webkit-transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
            transform: rotateX(0deg) rotateY(0deg) rotateZ(0deg);
  }
  16% {
    -webkit-transform: rotateY(-90deg);
            transform: rotateY(-90deg);
  }
  33% {
    -webkit-transform: rotateY(-90deg) rotateZ(90deg);
            transform: rotateY(-90deg) rotateZ(90deg);
  }
  50% {
    -webkit-transform: rotateY(-180deg) rotateZ(90deg);
            transform: rotateY(-180deg) rotateZ(90deg);
  }
  66% {
    -webkit-transform: rotateY(-270deg) rotateX(90deg);
            transform: rotateY(-270deg) rotateX(90deg);
  }
  83% {
    -webkit-transform: rotateX(90deg);
            transform: rotateX(90deg);
  }
}

.cubespinner {
  -webkit-animation-name: spincube;
          animation-name: spincube;
  -webkit-animation-timing-function: ease-in-out;
          animation-timing-function: ease-in-out;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-duration: 12s;
          animation-duration: 12s;
  -webkit-transform-style: preserve-3d;
          transform-style: preserve-3d;
  -webkit-transform-origin: 12px 12px 0;
          transform-origin: 12px 12px 0;
}

.cubespinner div {
  position: absolute;
  width: 24px;
  height: 24px;
  border: 1px solid rgba(255, 255, 255, 0.5);
  background: black;
}

.cubespinner #face-icon {
  width: 19.2px;
  height: 19.2px;
}

.face {
  width: 24px;
  height: 24px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-backface-visibility: hidden;
          backface-visibility: hidden;
}

.cubespinner .face1 {
  -webkit-transform: translateZ(12px);
          transform: translateZ(12px);
}

.cubespinner .face2 {
  -webkit-transform: rotateY(90deg) translateZ(12px);
          transform: rotateY(90deg) translateZ(12px);
}

.cubespinner .face3 {
  -webkit-transform: rotateY(90deg) rotateX(90deg) translateZ(12px);
          transform: rotateY(90deg) rotateX(90deg) translateZ(12px);
}

.cubespinner .face4 {
  -webkit-transform: rotateY(180deg) rotateZ(90deg) translateZ(12px);
          transform: rotateY(180deg) rotateZ(90deg) translateZ(12px);
}

.cubespinner .face5 {
  -webkit-transform: rotateY(-90deg) rotateZ(90deg) translateZ(12px);
          transform: rotateY(-90deg) rotateZ(90deg) translateZ(12px);
}

.cubespinner .face6 {
  -webkit-transform: rotateX(-90deg) translateZ(12px);
          transform: rotateX(-90deg) translateZ(12px);
}

.skills {
  padding-top: 80px;
}

.skills .skill {
  background: #009eff;
  padding: 8px;
  border-radius: 8px;
  margin-bottom: 16px;
  width: 30%;
}

@media (max-width: 960px) {
  .skills .skill {
    width: 45%;
  }
}

@media (max-width: 600px) {
  .skills .skill {
    width: 100%;
  }
}

.skills .skills-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.school-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  padding: 16px;
  background: rgba(255, 255, 255, 0.9);
  border-radius: 12px;
  margin-bottom: 16px;
  width: 46%;
  -ms-flex-item-align: stretch;
      align-self: stretch;
  position: relative;
  -webkit-transition: all 0.25s ease-in;
  transition: all 0.25s ease-in;
  -webkit-box-shadow: inset 0 0 0 0 #009eff;
          box-shadow: inset 0 0 0 0 #009eff;
  cursor: pointer;
}

@media (max-width: 960px) {
  .school-container {
    width: 100%;
  }
}

.school-container .course {
  font-weight: 600;
  color: #005183;
  font-size: 1.2em;
}

.school-container .school {
  margin-top: 8px;
  color: grey;
}

.school-container:hover {
  -webkit-box-shadow: inset 0 0 0 100px #009eff;
          box-shadow: inset 0 0 0 100px #009eff;
}

.school-container:hover .course {
  color: white;
}

.school-container:hover .school {
  color: white;
}

.education .flex {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.connect {
  background: #424242;
}

.connect .connect-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: "row";
          flex-direction: "row";
}

.connect h2 {
  margin-top: 0;
}

.connect a {
  top: 0;
}

.connect img {
  margin: 8px;
  width: 50px;
}

@media (max-width: 600px) {
  .connect img {
    width: 40px;
  }
}

.connect img:hover {
  -webkit-animation: shake 1s ease-in;
          animation: shake 1s ease-in;
  cursor: pointer;
}

@-webkit-keyframes shake {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  10% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  20% {
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
  30% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  40% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  70% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  90% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
}

@keyframes shake {
  0% {
    -webkit-transform: translateY(-10%);
            transform: translateY(-10%);
  }
  10% {
    -webkit-transform: translateY(10%);
            transform: translateY(10%);
  }
  20% {
    -webkit-transform: translateY(-9%);
            transform: translateY(-9%);
  }
  30% {
    -webkit-transform: translateY(8%);
            transform: translateY(8%);
  }
  40% {
    -webkit-transform: translateY(-7%);
            transform: translateY(-7%);
  }
  50% {
    -webkit-transform: translateY(6%);
            transform: translateY(6%);
  }
  60% {
    -webkit-transform: translateY(-5%);
            transform: translateY(-5%);
  }
  70% {
    -webkit-transform: translateY(4%);
            transform: translateY(4%);
  }
  80% {
    -webkit-transform: translateY(-3%);
            transform: translateY(-3%);
  }
  90% {
    -webkit-transform: translateY(2%);
            transform: translateY(2%);
  }
  100% {
    -webkit-transform: translateY(-1%);
            transform: translateY(-1%);
  }
}

html {
  overflow-x: hidden !important;
}

body {
  overflow-x: hidden !important;
  color: white;
  font-family: 'Ubuntu', serif;
}

p {
  margin: 0;
}

h2 {
  text-transform: uppercase;
}

h3 {
  text-transform: uppercase;
  color: #009eff;
}
/*# sourceMappingURL=styles.css.map */